* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}


body {
    display: flex;
    background-image: url(./images/bodybackground.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

}

.container {
    background-color: rgba(224, 247, 250, 0.8);
    width: 25%;
    height: 80%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    display: grid;
    grid-template-rows: 30px 1fr 2fr 1fr;
    overflow:hidden;
}

.miniContainer1 {
    text-align: center;
}

.miniContainer2 {
    padding: 30px;
    opacity: 1;
}

.generaterButton {
    height: 80px;
    width: 200px;
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #0097A7;
    color: #ffffffc5;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.generaterButton:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.generaterButton:active {
    background-color: #04656f;
    transition: transform 0.2s ease
}

.miniContainer3 {
    display: flex;
    justify-content: space-around;
}

.twoButton {
    background-color: #0097a7;
    color: white;
    border: none;
    margin-bottom: 10px;
    width: 40%;
    height: 40%;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.twoButton:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.twoButton:active {
    background-color: #0096a797;
}


.ingredient {
    background-color: #E0F7FA;
    width: 20%;
    height: 80%;
    left: 65%;
    position: absolute;
    align-self: center;
    padding: 10px;
    color: #1B5E20;
    border: 5px solid rgba(205, 198, 198, 0.743);
    border-radius: 10%;
    overflow-y: auto;
    display: none;
}

.ingredient * {
    height: auto !important
}

.foodTitle {
    font-size: 28px;
    text-align: center;
}

.ingredientList {
    list-style-type: square;
    padding-left: 10%;
    font-size: 1rem;
}

.ingredientList li {
    padding-top: 5px;
}

iframe {
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    visibility: hidden;
}

.instruction {
    width: 20%;
    height: 80%;
    right: 65%;
    position: absolute;
    background-color: #E0F7FA;
    top: 10%;
    overflow-y: auto;
    display: none;
}

.instruction * {
    height: auto !important;
}

.instructionTitle {
    padding: 10px;
    text-align: center;
    color: #1B5E20;
}

.instructionDetails {
    color: #1B5E20;
    margin: 10px;
    
    width: auto;
}

#searchBar {
    height: 20px;
    margin: 10px;
    width: 300px;

}

.shownResults {
    top: 13%;
    margin: 10px;
    align-items: center;
    background-color: white;
    height: auto;
    width: 300px;
    position: fixed;
    max-height: 22%;
    overflow-y: auto;
    display: none;

}

.twoButton {
    margin: 2px;
}